/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  scroll-behavior: smooth;
  font-family: "Zain", sans-serif;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}
.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

/* Swiper CSS */
.swiper-slide {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  border: 1px solid white;
  padding: 12px 15px;
  font-size: 13px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after {
  content: "next";
}

.swiper-button-prev:after {
  content: "prev";
}

/* End of swiper css */

.box {
  background-color: #1c1f36;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Optional enhancement */
}

.react-pdf__Page__textContent {
  direction: rtl !important;
  text-align: right !important;
  unicode-bidi: embed !important;
  width: 100% !important;
}

.react-pdf__Page__annotations {
  direction: rtl !important;
}

.react-pdf__Page__canvas,
.react-pdf__Document,
.react-pdf__Page {
  width: 100% !important;
  margin: auto !important;
}

.react-activity-calendar__scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Safari */
.react-activity-calendar__scroll-container::-webkit-scrollbar {
  display: none;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.word-drop {
  display: inline-block;
  animation: dropIn 0.4s ease forwards;
  opacity: 0;
  white-space: nowrap;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation-name: wave-hand;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.text-3d {
  text-shadow: 1px 1px 0 #4c4f6a, 2px 2px 0 #4c4f6a, 3px 3px 0 #241740;
}

.genre-dropdown::-webkit-scrollbar {
  width: 6px;
}

.genre-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.genre-dropdown::-webkit-scrollbar-thumb {
  background-color: #765cde;
  border-radius: 3px;
  border: 1px solid transparent;
}

.genre-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #5a44b8;
}

/* Firefox */
.genre-dropdown {
  scrollbar-width: thin;
  scrollbar-color: #765cde transparent;
}
